*{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins";
  background-color: #F6FBFA;
  
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #00454E;
  font-family: Poppins;
}


.logo {
  width: 90px;
  height: 68px;
}

section{
  margin-top: 200px;
  text-align: center;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}



.form-signin {
  max-width: 200px;
  padding: 15px 40px 40px;
}

.form-signin-heading,
.checkbox {
	margin-bottom: 30px;
}

.checkbox {
	font-family: poppins;
  text-align: center;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 5px;
  align-self: center;
  background-color: #FFFF;
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 30px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.button {
  align-self: center;
  width: 150px;
  background: rgb(0, 69, 78);
  border-radius: 38px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  color: white;
}

.button p{
  font-size: 20px;
  text-align: center;
  background-color: #00454E;
}

.button:hover {
  background: rgba(0, 69, 78, 0.7);
}
.button:active {
  background: none;
}
