*{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F6FBFA;
    color: rgb(0, 0, 0);
    font-family: "Poppins" sans-serif;
  }
  
  
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: rgb(0, 69, 78);
  }
  
  .message {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-left:220px;
    margin-top: 35px;
  
  }
  
  .avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 110px;
    margin-top: -40px;
  }
  