/*Nicole og Jonas*/
*{
    display: flex;
    flex-direction: column;
    background: #F6FBFA;
    font-family: "Poppins";
  }


  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: rgb(0, 69, 78);
    margin-top: 50px;
    margin-bottom: 70px;
  }

.ikoner {
  margin-top: 30px;
}

.comments {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    margin-left: 215px;
    margin-top: 35px;
  }

  .avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    margin-left: 100px;
    margin-top: -40px;
}

  .box-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }

  .afsnit{
    color: #00454E;
    font-size: 20px;
    align-items: center;
  }

  .box1,.box2,.box3,.box4,.box5,.box6{
    width: 100%;
    height: 100px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }

  .box1{
    background-image: url("images/uifaces/ven1.jpeg");
          background-position: center;
  }

  .box2{
    background-image: url("images/uifaces/ven2.jpg");
          background-position: center;
  }

  .box3{
    background-image: url("images/uifaces/ven3.jpg");
          background-position: center;
  }

  .box4{
    background-image: url("images/uifaces/ven4.jpg");
          background-position: center;
  }

  .box5{
    background-image: url("images/uifaces/ven5.jpg");
          background-position: center;
  }

  .box6{
    background-image: url("images/uifaces/ven6.jpg");
          background-position: center;
  }

  /* knappen der fører videre til næste html side med portfolio  */
  .box1 p,
  .box2 p,
  .box3 p,
  .box4 p,
  .box5 p,

  .box6 p{
    color: #00454E;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 10px;
    display: inline-block;
  }

  .box1 p:hover,
  .box1 p:focus {
    color: #007281;
    transform: scale(1.1);
  }

  .box2 p:hover,
  .box2 p:focus {
    color: #007281;
    transform: scale(1.1);
  }

  .box3 p:hover,
  .box3 p:focus {
    color: #007281;
    transform: scale(1.1);
  }

  .box4 p:hover,
  .box4 p:focus {
    color: #007281;
    transform: scale(1.3);
  }
  .box5 p:hover,
  .box5 p:focus {
    color: #007281;
    transform: scale(1.3);
  }
  .box6 p:hover,
  .box6 p:focus {
    color: #007281;
    transform: scale(1.3);
  }

  .linkbox {
    text-decoration: none;
  }
