*{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F6FBFA;
  color: rgb(0, 0, 0);
  font-family: "Poppins";
}

.container{
    position: relative;
    width: 120px;
    height: 150px;
    margin: 90px auto;
    background-color: lightseagreen;
}


h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(0, 69, 78);
}

.logo {
  width: 97px;
  height: 75px;
}

.plus {
  width: 30px;
  height: 30px;
  margin-left: 300px;
}

.produktLogo {
  width: 175px;
  height: 175px;
  align-self: center;
  padding-bottom: 50px;
}

.header1 {
  font-family: "Poppins";
  font-size: 30px;
  text-align: center;
  color: #00454E;
  font-weight: bold;
  margin-top: -50px;
}


.header2 {
font-family: "Poppins";
font-size: 15px;
text-align: center;
color: #00454E;
margin-top: -0px;

}

.header3 {
  font-family: "Poppins";
  font-size: 15px;
  text-align: center;
  color: #00454E;

}


section{
  margin-top: 200px;
  text-align: center;
}


.button {
  align-self: center;
  width: 150px;
  margin-top: -89px;
  margin-bottom: 0px;
  padding: 8px 16px;
  background: rgb(0, 69, 78);
  border-radius: 38px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}
.button:hover {
  background: rgba(0, 69, 78, 0.7);
}
.button:active {
  background: none;
}

.button-2 {
  align-self: center;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 8px 16px;
  background: rgb(0, 69, 78);
  border-radius: 38px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}
.button-2:hover {
  background: rgba(0, 69, 78, 0.7);
}
.button-2:active {
  background: none;
}
