*{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F6FBFA;
  color: rgb(0, 0, 0);
  font-family: "Poppins";
}


h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(0, 69, 78);
}

.logo {
  width: 97px;
  height: 75px;
}

.plus {
  width: 30px;
  height: 30px;
  margin-left: 300px;
}

.produktLogo {
  width: 175px;
  height: 175px;
  align-self: center;
  padding-bottom: 50px;
}

.header1 {
  font-family: "Poppins";
  font-size: 30px;
  text-align: center;
  color: rgb(0, 69, 78);
  font-weight: bold;
  margin-top: -50px;
}


.header2 {
font-family: "Poppins";
font-size: 15px;
text-align: center;
color: rgb(0, 69, 78);
margin-top: -0px;

}

.header3 {
  font-family: "Poppins";
  font-size: 15px;
  text-align: center;
  color: rgb(0, 69, 78);
;

}

.header4 {
  font-family: "Poppins";
  font-size: 15px;
  text-align: center;
  color: #00454E;

}

.lines {
  width: 190%;
  height: 45px;
  position: relative;
  color: black;
  background-position: center;
}

.lines::after, .lines::before{
    content:'';
    position: absolute;
    margin: auto;
    height: 2px;
    background: black;
    width: 45%;
    top:45%;
}

.container{
    position: relative;
    width: 350px;
    height: 175px;
    margin: auto;
    text-align: center;
    background-color: #E3F1F0;
  }



section{
  margin-top: 200px;
  text-align: center;
  background-color: #E3F1F0;
}

ul.separator {
  list-style: none;
  padding: 0;
  width: 100%;

}

ul.separator li {
  padding: .5em 0;
  border-bottom: 1px solid #CCC;
  background-color: #E3F1F0;
}

ul.separator li:last-child {
  border-bottom: 0;
  background-color: #E3F1F0;
}


.button {
  align-self: center;
  width: 150px;
  margin-top: -89px;
  margin-bottom: 0px;
  padding: 8px 16px;
  background: rgb(0, 69, 78);
  border-radius: 38px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}
.button:hover {
  background: rgba(0, 69, 78, 0.7);
}
.button:active {
  background: none;
}

.button-2 {
  align-self: center;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 8px 16px;
  background: rgb(0, 69, 78);
  border-radius: 38px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}
.button-2:hover {
  background: rgba(0, 69, 78, 0.7);
}
.button-2:active {
  background: none;
}
