*{
  display: flex;
  flex-direction: column;
  background: #F6FBFA;
  color: rgb(0, 69, 78);
  font-family: "Poppins";
}


h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(0, 69, 78);
  padding: auto;
}

.logo {
  width: 97px;
  height: 75px;
}

.plus {
  width: 30px;
  height: 30px;
  margin-left: 300px;
}

.produktLogo {
  width: 175px;
  height: 175px;
  align-self: center;
  padding-top: 50px;
}

.header1 {
  font-family: "Poppins";
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}


.header2 {
  font-family: "Poppins";
  font-size: 15px;
  text-align: center;
  margin-top: -40px;
  font-weight: lighter;
}


.header3 {
  font-family: "Poppins";
  font-size: 15px;
  text-align: center;
  color: rgb(0, 69, 78);
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin: 10px;
}



.lines {
  width: 190%;
  height: 50px;
  position: relative;
  color: black;
  background-position: center;

}

.lines::after, .lines::before{
    content:'';
    position: absolute;
    margin: auto;
    height: 2px;
    background: black;
    width: 45%;
    top:45%;
}

.container{
    position: relative;
    width: 350px;
    height: 180px;
    text-align: center;
    background-color: #E3F1F0;
}


section{
  margin-top: 200px;
  text-align: center;
  background-color: #E3F1F0;
}


ul.separator {
  list-style: none;
  padding: 0;
  width: 100%;
}


ul.separator li {
  padding: .5em 0;
  border-bottom: 1px solid #CCC;
  background-color: #E3F1F0;
}

ul.separator li:last-child {
  border-bottom: 0;
  background-color: #E3F1F0;
}

.ikoner {
  margin-top: 20px;

}
.comments {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 42px;
    margin-left: 215px;
    margin-top: 35px;
  }

  .avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    margin-left: 100px;
    margin-top: -40px;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #00454E;
  height: 500px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #00454E;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #00454E;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: right;
}

.topnav a.icon {
  background: #F6FBFA;
  display: block;
  position: absolute;
  right: 25px;
}

.topnav a:hover {
  color: #F9E054;
}

.active {
  background-color: #F6FBFA;
  color: white;
}
