/*Nadin*/
*{
 font-family: "Poppins";
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-right: 70%;
}

.would-you-rather {
    width: auto;
    text-align: center;
    background-color: #f6fbfa;
    color: #00454e;
    font-family: "Poppins";
}

.would-you-rather h1 {
    color: #00454e;
    font-family: 'Poppins';
    font-weight: 700;
}


.would-you-rather .quiz-button .txt{
    color: #00454e;
    font-family: "Poppins";
}

.would-you-rather .info {
    height: 26vh;
    background-color: #e3f1f0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.096);
    font-family: "Poppins";
}

.would-you-rather .content {
    background-color: #f6fbfa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 65vh;
    color: #00454e;
    font-family: "Poppins";

}

.would-you-rather .quiz-button {
    border-radius: 2em;
    height: 20vh;
    width: 20vh;
    margin: 2vw;
    background-color: #00454e;
    font-family: "Poppins";

}


.would-you-rather .quiz-button:hover {
    background-color: #066e7c;
}

.would-you-rather .quiz-button:active{
    background-color: #066e7c;

}


.would-you-rather #end-answers {
    background-color: #00454e;
    width: 64vw;
    text-align: center;
    border-radius: 0.9em;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0 auto;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.096);
}

.would-you-rather #end-answers .final-answer {
    color: white;
    font-size: 20px;
    font-family: "Poppins";
}

.bottom-button {
    align-self: center;
    width: 150px;
    background: rgb(0, 69, 78);
    border-radius: 38px;
    transition: background 0.25s ease-in-out 0s;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .would-you-rather .quiz-button {
        height: 40vw;
        width: 60vw;
        color: white;
        font-size: 20px;
        font-family: "Poppins";
    }
}
